{% extends "base.html.twig" %}

{% block title %} Редактирование {{ article.title }} {% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1>Редактирование статьи</h1>
            {% for msg in result|slice(0,1) %}
                <div class="alert alert-info">
                    {{ msg|upper }}
                </div>
            {% endfor %}
            <form name="EditArticle"
                  method="POST">
                <div class="form-group">
                    <label for="inputTitle">Заголовок статьи</label>
                    <input type="text" name="inputTitle" class="form-control" id="title" placeholder="Введите заголовок" value="{{ article.title }}">
                </div>
                <div class="form-group">
                    <label for="inputAuthor">Автор статьи</label>
                    <input type="text" name="inputAuthor" class="form-control" id="author" placeholder="Введите имя автора" value="{{ article.author }}">
                </div>
                <div class="form-group">
                    <label for="inputBody">Содержание статьи</label>
                    <textarea name="inputBody" class="form-control" id="body" rows="10" placeholder="Напишите содержание статьи">{{ article.body }}</textarea>
                </div>
                <div class="form-group">
                    <label for="inputBody">Изображение статьи</label>
                    <input type="file" name="inputPicture" class="form-control" id="picture" placeholder="Выберите изображение">
                </div>
                <div class="form-group">
                    <button type="submit" name="submit" class="btn btn-primary" id="submit">Сохранить</button>
                    <a href="/admin/article/{{ article.id }}" class="btn btn-default" role="button">К статье</a>
                    <a href="/admin" class="btn btn-default" role="button">К списку</a>
                </div>
                <script>
                    CKEDITOR.replace( 'inputBody' );
                </script>
            </form>
        </div>
    </div>
{% endblock %}