{% extends "base.html.twig" %}
{% block title %} Все статьи {% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            {% for article in articles %}
                <h1><i class="fa fa-pencil-square"></i> <a href="/articles/{{ article.id }}">{{ article.title }}</a></h1>
                <p>Author: {{ article.author }}</p>
                {% if article.picture %}
                    <p class="picture"><img src="/{{ article.picture }}" width="70%"></p>
                {% endif %}
                <p class="content{{ article.title }}">{{ article.short_content }}</p>
                <p>
                    <a class="btn btn-primary liked" id="like{{ article.id }}" article_id="{{ article.id }}" role="button"><i class="fa fa-heart"></i> <span>{{ article.like_count }}</span></a>
                    <a class="btn btn-default" role="button" href="/articles/{{ article.id }}">Читать дальше <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                </p>
            {% endfor %}
            <div class="centered">
                {% include '/layouts/pagination.html.twig' with {
                        currentFilters: { myFilter: filtervariables },
                        currentPage: currentPage,
                        paginationPath: "/articles/page/",
                        lastPage: totalPages,
                        showAlwaysFirstAndLast: true
                    } only %}
            </div>
        </div>
    </div>
{% endblock %}