{% extends "base.html.twig" %}
{% block title %} Профиль {{ user.fname }} {{ user.surname }}{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6 main text-center">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Логин</th>
                    <th>Email</th>
                </tr>
                </thead>
                {% for user in users %}
                    <tbody>
                    <tr>
                        <td class="text-left">{{ user.login }}</td>
                        <td class="text-left">{{ user.email }}</td>
                        <td class="text-right">
                            <a href="/users/{{ user.id }}" class="btn btn-default" type="button">посмотреть</a>
                            <a href="/users/edit/{{ user.id }}" class="btn btn-default" type="button">редактировать</a></td>
                    </tr>
                    </tbody>
                {% endfor %}
            </table>
            </div>
        </div>
        <div class="centered">
            {% include '/layouts/pagination.html.twig' with {
                    currentFilters: { myFilter: filtervariables },
                    currentPage: currentPage,
                    paginationPath: "/users/page/",
                    lastPage: totalPages,
                    showAlwaysFirstAndLast: true
                } only %}
        </div>
    </div>
{% endblock %}