{% extends "base.html.twig" %}
{% block title %} Профиль {{ user.fname }} {{ user.surname }}{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6 main text-center">
                <ul class="list-group profile-of-user">
                    <li class="list-group-item text-muted">Профиль пользователя</li>
                    <li class="list-group-item text-right">
                        <span class="pull-left">
                            <strong>Логин</strong></span> {{ user.login }}
                    </li>
                    <li class="list-group-item text-right">
                        <span class="pull-left">
                            <strong>Имя</strong></span> {{ user.fname }}
                    </li>
                    <li class="list-group-item text-right">
                        <span class="pull-left">
                            <strong>Фамилия</strong></span> {{ user.surname }}
                    </li>
                    <li class="list-group-item text-right">
                        <span class="pull-left">
                            <strong>Эл.почта</strong></span> {{ user.email }}
                    </li>
                    <li class="list-group-item text-right">
                        <span class="pull-left">
                            <strong>Администратор</strong></span>
                        {% if user.admin %} да
                        {% else %} нет
                        {% endif %}
                    </li>
                    <li class="list-group-item text-right">
                        <a href="#" class="btn btn-primary" type="button">редактировать</a>
                        <a href="#" class="btn btn-danger" type="button">удалить</a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
{% endblock %}