{% extends "base.html.twig" %}
{% block title %} Профиль {{ user.fname }} {{ user.surname }}{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
                <div class="profile">
                    <h1>Профиль {{ user.fname }} {{ user.surname }}!</h1>
                    <div class="col-sm-12 col-xs-12 col-sm-8">
                        <h2>{{ user.fname }} {{ user.surname }}</h2>
                        <p><strong>Логин: </strong> {{ user.login }}</p>
                        <p><strong>E-mail: </strong> {{ user.email }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}